// improt SIA fonts
@import url("https://use.typekit.net/ikv5rmz.css");
@font-face {
    font-family: 'Sigvar Serial';
    src: './public/sigvar-serial-bold.ttf';
}


$sia-blue : #002569;
$sia-gold: #8A6C4C;
$sia-yellow: #FF9F00;


// MIXINS
$mobile-threshold: 650px;
@mixin mobile-layout {
    @media (max-width: $mobile-threshold) {
        @content
    }
}

.initial-fade {
    opacity: 0;
}