@import 'main';

.main {
    // opacity: 0;
    position: relative;
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    background-color: $sia-blue;
    color: whitesmoke;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url('https://www.singaporeair.com/saar5/images/media-centre/multimedia-library/hires/gs-customerservicedesk-1.jpg');
    background-size: cover;
    background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.4)), url('https://www.singaporeair.com/saar5/images/media-centre/multimedia-library/hires/acft-a350-3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    backdrop-filter: brightness(50%);
    overflow: auto;

    .content {
        padding: 0ch 5ch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        overflow: auto;
        
        p {
            color: inherit;
            
            span {
                border-bottom: 2px solid $sia-gold;
            }
        }
    }

    .branding {
        width: 100%;
        text-align: center;
        position: absolute;
        bottom: 15%;
        width: auto;
        height: auto;
        padding: 5ch 0ch;

        img {
            height: auto;
            width: 150px;
        }
    }
}

.demoLinksContainer {
    position: relative;
    width: 100%;
    padding: 2ch;
    max-width: 100ch;
    height: auto;

    ul {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2ch;
        @include mobile-layout {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 2ch;
        }

        li {
            list-style: none;
            padding: 2ch;
            background-color: whitesmoke;
            color: black;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            cursor: pointer;
            border: 2px solid whitesmoke;
            filter: drop-shadow(0px 5px 0px $sia-gold);

            &:hover {
                filter: drop-shadow(2px 8px 0px $sia-gold);
            }

            img {
                grid-row: 1;
                width: 100%;
                height: 100%;
            }

            div {
                grid-row: 2;
                
                h3 {
                    padding-top: 1ch;
                    line-height: 1ch;
                }
                
                span {
                    line-height: 1.2ch;
                    font-weight: 0.6;
                    color: grey;
                }
                
                p {
                    line-height: 1.8ch
                }
            }
        }
    }
}

.landingSection {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 2.2rem;
        font-family: 'proxima-nova';
    }
}