@import 'main';

.main {
    // opacity: 0;
    position: relative;
    width: 100vw;
    min-width: 450px;
    height: 100%;
    background-color: $sia-blue;
    color: white;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-image: url('https://www.singaporeair.com/saar5/images/media-centre/multimedia-library/hires/gs-customerservicedesk-1.jpg');
    background-size: cover;
    background: linear-gradient(rgba(20, 20, 20, 0.4), rgba(20, 20, 20, 0.8)), url('https://www.singaporeair.com/saar5/images/media-centre/multimedia-library/hires/acft-a350-3.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    backdrop-filter: brightness(50%);
    overflow: auto;

    p {
        line-height: 1.8ch;
    }

    .content {
        padding: 0ch 2ch;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        overflow: auto;
        width: 100%;
    }
}

.demoLinksContainer {
    position: relative;
    width: 100%;
    padding: 2ch;
    max-width: 100ch;
    height: auto;

    .headerSection {
        width: 100%;
        height: auto;
        
    }

    .landingSection {
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: 'proxima-nova';

        h1 {
            font-size: 3rem;
        }
    }

    .demoLinks {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2ch;
        @include mobile-layout {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 2ch;
        }

        li {
            list-style: none;
            // padding: 2ch;
            background-color: whitesmoke;
            color: black;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0ch 1fr;
            width: 100%;
            cursor: pointer;
            border: 2px solid whitesmoke;
            filter: drop-shadow(0px 5px 0px $sia-gold);

            &:hover {
                filter: drop-shadow(2px 8px 0px $sia-gold);
            }

            img {
                grid-row: 1;
                width: 100%;
                height: 100%;
            }

            div {
                grid-row: 2;
                padding: 2ch;
                
                h3 {
                    padding-top: 1ch;
                    padding-bottom: 0.4ch;
                    line-height: 1ch;
                }
                
                .desc {
                    line-height: 1.8ch;
                    color: grey;
                }
                
                p {
                    line-height: 1.8ch
                }
            }
        }
    }

    .footnote {
        text-align: left;
        margin-top: 5ch;
        color: whitesmoke;
        line-height: 1.8ch;
        width: 100%;

        strong {
            font-size:large;
            padding-bottom: 1.5ch;
        }

        a {
            text-decoration: underline;
            text-underline-position: below;
            text-decoration-color: $sia-yellow;
            
            &:hover {
                background-color: $sia-yellow;
            }
        }
    }
}

.videoPlayer {
    width: 100%;
    min-height: 450px;
    height: 100%;
    border: solid 1px whitesmoke;
}

.ideaSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto 1fr;
        row-gap: 2ch;
        column-gap: 2ch;

        h3 {
            grid-row: 1;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        img {
            grid-row: 2;
            grid-column: 1;
            height: 300px;
            width: auto;
            padding: 2ch;
            margin: auto;
        }

        div {
            padding-top: 1ch;
            grid-row: 2;
            grid-column: 2;
        }
    }
}

.teamSection {
    margin: auto;
    padding: 10ch 0ch;
    width: 100%;
    max-width: 60ch;
    text-align: center;
    font-size: 1.5ch;

    .teamLogo {
        height: 5ch;
        width: auto;
        margin: 1ch 0ch 0ch 0ch;
    }

    .teamGrid {
        width: 100%;
        margin-top: 2ch;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;

        .teamProfile {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            row-gap: 1ch;

            img {
                margin: auto;
                height: auto;
                width: 100%;
                max-width: 150px;
                overflow: hidden;
                border-radius: 50%;
                border: 2px whitesmoke solid;
            }
        }
    }
}